@model IEnumerable<Miguitas.Web.Data.Entities.OrderDetailTemp>

@{
    ViewData["Title"] = "Create";
}

<div class="bg-img-board container" style="padding-bottom:1%">
    <br />
    <h2 class="text-center">Carrito</h2>
    <p>
        @*<a asp-action="AddProduct" class="btn btn-warning">Agregar productos</a>*@
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmDialog">Confirmar Pedido</button>
    </p>
    <table class="table text-light">
        <thead>
            <tr>
                <th>
                    Imagen
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    Prcio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if (!string.IsNullOrEmpty(item.Product.ImageUrl))
                {
                    <td>
                        <img src="@Url.Content(item.Product.ImageUrl)" style="border: solid 1px; border-radius: 36%; width: 60px; height: 60px; max-width: 60%; height: auto;" alt="Image">
                    </td>
                }
                <td>
                    @Html.Raw(item.Product.Name.ToString().Remove(0, 4))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Increase" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-plus"></i></a>
                    <a asp-action="Decrease" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-minus"></i></a>
                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<!-- Confirm Order-->
<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Desea Confirmar el pedido?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" id="btnYes">Realizar Pedido</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Item-->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Desea borrar el producto del pedido?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Borrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {

            // Confirm Order
            $("#btnYes").click(function () {
                window.location.href = '/Orders/ConfirmOrder';
            });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Orders/DeleteItem/' + item_to_delete;
            });
        });

    </script>
}


